@media (prefers-color-scheme: light) {
  :root {
    --display-rec: none;
    --menu-color: #353430;
    --heading-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --title-decor-color: #353430;
  }

  .page {
    --background-image: url(../images/cover-image-light.png);
  }
}

.page.theme_light {
  --background-image: url(../images/cover-image-light.png);
  --rec-color: #353430;
  --menu-color: #353430;
  --heading-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --header-paragraph-color: #FF8DCB;
  --header-text-color: #353430;
  --display-rec: none;
}
