.page {
  background-color: var(--background-color);
  writing-mode: horizontal-tb;
  font-size: var(--font-size);
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
}


.header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr auto 1fr auto;
  justify-items: end;
  align-items: start;
  padding: var(--page-padding);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  block-size: max(668px, 100vb);
}

.decorated-zone::before {
  content: '';
  display: block;
  position: absolute;
  border-inline-end: 1px solid var(--menu-color);
  border-block-start: 1px solid var(--menu-color);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-zone::after {
  content: '';
  display: block;
  position: absolute;
  border-inline-start: 1px solid var(--menu-color);
  border-block-end: 1px solid var(--menu-color);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.header__rec {
  position: absolute;
  display: var(--display-rec);
  align-items: center;
  gap: var(--menu-gap);
  color: var(--menu-color);
  inset-block-start: 10px;
  inset-inline-end: 19px;
}

.header__rec::after {
  content: '';
  display: block;
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  background-color: var(--menu-color);
}

.header__theme-menu {
  margin-block-start: var(--menu-margin);
  margin-block-end: var(--menu-margin);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--menu-gap);
}

.header__theme-menu-item {
  color: var(--menu-color);
}

.header__theme-menu-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-transform: lowercase;
  padding: 0 13px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-color);
}

.header__heading {
  justify-self: start;
  align-self: center;
  color: var(--heading-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__paragraph {
  margin-block-start: var(--paragraph-margin);
  max-inline-size: 364px;
}

.title-decor {
  color: var(--title-decor-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: var(--font-size);
}

.main {
  display: grid;
  gap: var(--main-gap);
  padding: 0 var(--page-padding);
  padding-top: var(--main-padding);
}

.main__section {
  display: grid;
  gap: var(--main-section-gap);
}

.main__section-title {
  color: var(--main-title-color);
  font-size: var(--font-size);
}

.main__section-content {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--main-section-content-gap);
}

.main__section-content-text {
  color: var(--main-text-color);
}

.regular {
  font-weight: 400;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link:hover {
  border-bottom: 1px solid var(--link-color);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid var(--link-color);
}

.gallery {
  grid-template-rows: auto 142px 355px 237px 355px 237px;
}

.main__section-image {
  inline-size: 100%;
  block-size: 100%;
}

.main__section-image-item {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto 1fr auto;
  padding: var(--page-padding);
  margin-top: var(--footer-padding);
  block-size: max(668px, 100vb);
  align-items: center;
}

.footer::before {
  content: '';
  display: block;
  border-inline-end: 1px solid var(--menu-color);
  border-block-start: 1px solid var(--menu-color);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-end: 0;
  inset-block-start: 0;
  justify-self: end;
}

.footer::after {
  content: '';
  display: block;
  border-inline-start: 1px solid var(--menu-color);
  border-block-end: 1px solid var(--menu-color);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-end: 0;
  inset-block-start: 0;
  justify-self: start;
}

.footer__heading {
  justify-self: center;
  color: var(--heading-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 4px 2px 0 var(--accent-color);
}

@media (width < 768px) {
  .gallery {
    gap: 10px;
  }
}

@media (width >= 768px) {
  @media (width < 1024px) {
    :root {
      --menu-margin: 182px;
      --paragraph-margin: 162px;
    }
  }

  :root {
    --page-padding: 20px;
    --main-padding: 60px;
    --main-gap: 80px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__rec {
    inset-block-start: 20px;
    inset-inline-end: 29px;
  }

  .header__heading, .footer__heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header .header__heading {
    margin-inline-start: -20px;
  }

  .main__section {
    grid-template-columns: 236px 1fr 1fr;
  }

  .main__section-content-text {
    word-spacing: -1px;
  }

  .reasons .main__section-content,
  .advices .main__section-content {
    grid-column: 2/4;
  }

  .factors .main__section-content {
    grid-column: span 3;
  }

  .advices .main__section-title {
    grid-row: span 2;
  }

  .advices .main__section-subtitle {
    grid-column: span 2;
  }

  .gallery .main__section-subtitle {
    grid-column: span 3;
  }

  .main__section.gallery {
    grid-template-rows: auto 192px 230px 318px;
  }

  .main__section-image:nth-of-type(1),
  .main__section-image:nth-of-type(5) {
    grid-column: span 2;
  }

  .main__section-image:nth-of-type(2),
  .main__section-image:nth-of-type(3) {
    grid-row: span 2;
  }

  .footer::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .footer::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }
}

  

@media (width >= 1024px) {
  :root {
    --menu-margin: 0;
    --paragraph-margin: 114px;
  }

  .header__theme-menu {
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header .header__heading,
  .footer .footer__heading {
    text-shadow: 4px 2px 0 #FF0070;
  }

  .header__paragraph {
    max-inline-size: 495px;
  }

  .main__section {
    grid-template-columns: repeat(3, 1fr);
  }

  .factors .main__section-content {
    grid-column: span 1;
    grid-row: 2/3;
  }

  .main__section.gallery {
    grid-template-rows: auto 260px 315px 428px;
  }
}
