.page {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: var(--line-height);
  padding: var(--page-padding);
  writing-mode: horizontal-tb;
}


.header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto auto auto;
  justify-items: end;
  align-items: start;
}

.decorated-zone::before {
  content: '';
  display: block;
  position: absolute;
  border-inline-end: 1px solid var(--menu-color);
  border-block-start: 1px solid var(--menu-color);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-end: 0;
  inset-block-start: 0;
}

.decorated-zone::after {
  content: '';
  display: block;
  position: absolute;
  border-inline-start: 1px solid var(--menu-color);
  border-block-end: 1px solid var(--menu-color);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-start: 0;
  inset-block-end: 0;
}

.header__rec {
  position: absolute;
  display: var(--display-rec);
  align-items: center;
  gap: var(--menu-gap);
  color: var(--menu-color);
  inset-block-start: 0;
  inset-inline-end: 9px;
}

.header__rec::after {
  content: '';
  display: block;
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  background-color: var(--menu-color);
}

.header__theme-menu {
  margin-block-start: var(--menu-margin);
  margin-block-end: var(--menu-margin);
}

.header__theme-menu-list {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  gap: var(--menu-gap);
}

.header__theme-menu-item {
  color: var(--menu-color);
}

.header__theme-menu-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-transform: lowercase;
  padding: 0 13px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-color);
}

.header__heading {
  justify-self: start;
  color: var(--heading-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 4px 2px 0 var(--accent-color);
}

.header__paragraph {
  margin-block-start: 55px;
  margin-block-end: 65px;
}

.title-decor {
  color: var(--title-decor-color);
  background-color: var(--accent-color);
  font-weight: bold;
}

.main {
  display: grid;
  
}