.page {
  background-color: var(--background-color);
  writing-mode: horizontal-tb;
  font-size: var(--font-size, 20px);
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  font-weight: var(--font-weight, 400);
  line-height: var(--line-height, 23.4px);
  background-image: var(--background-image, url(../images/cover-image-dark.png));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  padding: var(--page-padding, 10px);
  align-items: center;
  block-size: max(668px, 100vb);
}

.decorated-zone::before {
  position: absolute;
  display: block;
  content: '';
  border-inline-end: 1px solid var(--menu-color, #FF0070);
  border-block-start: 1px solid var(--menu-color, #FF0070);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-end: var(--page-padding, 10px);
  inset-block-start: var(--page-padding, 10px);
}

.decorated-zone::after {
  position: absolute;
  display: block;
  content: '';
  border-inline-start: 1px solid var(--menu-color, #FF0070);
  border-block-end: 1px solid var(--menu-color, #FF0070);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-start: var(--page-padding, 10px);
  inset-block-end: var(--page-padding, 10px);
}

.header__rec {
  position: absolute;
  display: var(--display-rec, flex);
  align-items: center;
  gap: var(--menu-gap, 10px);
  color: var(--menu-color, #FF0070);
  inset-block-start: var(--page-padding, 10px);
  inset-inline-end: calc(var(--page-padding, 10px) + 9px);
}

.header__rec::after {
  display: block;
  content: '';
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  background-color: var(--menu-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color, #FF0070));
}

.header__theme-menu {
  justify-items: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--menu-gap, 10px);
}

.header__theme-menu-item {
  color: var(--menu-color, #FF0070);
}

.header__theme-menu-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-transform: lowercase;
  padding: 1.5px 13px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-color, #FF0070);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-color, #FF0070);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-color, #FF0070);
}

.header__heading {
  color: var(--heading-color, #DB00FF);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
}

.header__paragraph {
  justify-self: end;
  max-inline-size: 364px;
}

.title-decor {
  background-color: var(--accent-color, #FF0070);
  color: var(--title-text, #000028);
  font-size: var(--font-size, 20px);
  font-weight: 700;
}

.main {
  display: grid;
  padding: var(--main-padding, 40px) var(--page-padding, 10px);
  gap: var(--main-gap, 50px);
}

.main__section {
  display: grid;
  gap: 20px;
}

.main__section-title {
  color: var(--main-title-color, #FF0070);
  font-size: var(--font-size, 20px);
}

.main__section-content {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}

.main__section-content-text {
  color: var(--main-text-color);
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
}

.text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.regular {
  font-weight: 400;
}

.main__section-image-item {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  grid-template-rows: auto;
  padding: var(--page-padding, 10px);
  block-size: max(668px, 100vb);
  align-items: center;
}

.footer__heading {
  justify-self: center;
  color: var(--heading-color, #DB00FF);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
}

@media (width < 768px) {
  .gallery {
    gap: 10px;
  }
}

@media (width >= 768px) {
  :root {
    --page-padding: 20px;
    --main-gap: 80px;
    --main-padding: 60px;
  }

  .header__heading {
    margin-inline-start: -20px;
  }

  .header__heading, .footer__heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main__section {
    grid-template-columns: 236px 1fr 1fr;
  }

  .reasons .main__section-content,
  .advices .main__section-content {
    grid-column: 2/4;
  }

  .factors .main__section-content {
    grid-column: span 3;
  }

  .advices .main__section-title {
    grid-row: span 2;
  }

  .advices .main__section-subtitle {
    grid-column: span 2;
  }

  .gallery {
    gap: 20px;
  }

  .gallery .main__section-subtitle {
    grid-column: span 3;
  }

  .main__section-image-item:nth-of-type(1),
  .main__section-image-item:nth-of-type(5) {
    grid-column: span 2;
  }

  .main__section-image-item:nth-of-type(2),
  .main__section-image-item:nth-of-type(3) {
    grid-row: span 2;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__heading {
    text-shadow: 4px 4px 0 #FF0070;
  }

  .header__paragraph {
    max-inline-size: 491px;
  }

  .main__section {
    grid-template-columns: repeat(3, 1fr);
  }

  .factors .main__section-content {
    grid-column: span 1;
    grid-row: 2/3;
  }
}